* {
    font-family: 'Montserrat';
    font-size: 12px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

header img {
    width: 187px;
    height: 41px;
    margin-bottom: 8px;
}

header p {
    color: #FE4400;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-feature-settings: 'liga' off;
    margin-bottom: 48px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
}

section .form-label {
    color: #4A4A4A;
    margin-bottom: 3px;
    font-weight: 600;
}

section .form-control {
    color: #828282;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    margin-bottom: 24px;
    height: 48px;
}

section #senha {
    margin-bottom: 3px;
}

section button {
    color: #fff;
    background-color: #FE4400;
    width: 271px;
    height: 40px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    font-size: 22px;
    font-weight: 600;
}

section button:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.70);
}