* {
    font-family: 'Montserrat';
    font-size: 12px;
}
body {
    display: flex;
}

header {
    display: none;
}

section.introducao {
    background-image: url(../img/tela-laranja-e-imagens.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FE662E;
    height: 100vh;
    width: 50vw;
}

section.introducao img  {
    width: 20vw;
    margin: 37vh auto 13px;
}

section.introducao p {
    color: #fff;
}

section.introducao p.nome-app {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-feature-settings: 'liga' off;
    margin-bottom: 80px;
}

section.introducao p.descricao {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 130%;
    text-align: center;
    margin: 0 60px;
}

section.introducao p.descricao b {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 130%;
    text-align: center;
}

section.formulario {
    background-image: url(../img/tela-branca-e-imagens.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

section.formulario .mb-3 {
    width: 327px;
    margin-bottom: 24px!important;
}

section.formulario .form-label {
    color: #4A4A4A;
    margin-bottom: 3px;
    font-weight: 600;
}

section.formulario .form-control {
    color: #828282;
    border: 1px solid #BDBDBD;
    border-radius: 8px;    
    height: 48px;
}

section.formulario .invalid-feedback {
    font-size: 12px;
    color: #FE4400
}

section .mb-3 p {
    color: #828282;
    font-weight: 600;
    margin-bottom: 32px;
}

form .input-group-text {
    background-color: #F2F2F2;
    border: 1px solid #BDBDBD;
    border-radius: 0 8px 8px 0!important;
    height: 48px;
}

form .input-group-text i {
    color: #828282;
}

form .input-group-text i:hover {
    cursor: pointer;
}

section.formulario button {
    color: #fff;
    background-color: #FE4400;
    width: 271px;
    height: 40px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    font-size: 22px;
    font-weight: 600;
}

section.formulario button:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.70);
}

section.formulario .nao-possui-cadastro {
    display: flex;
    width: 271px;
    justify-content: space-evenly;
    margin-top: 24px;
}

@media (max-width: 750px) {
    body {       
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 64px;
    }
    
    header img {
        width: 187px;
        height: 41px;
        margin-bottom: 8px;
    }
    
    header p {
        color: #FE4400;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.1em;
        font-variant: small-caps;
        font-feature-settings: 'liga' off;
        margin-bottom: 48px;
    }
    
    section.introducao {
        display: none;
    }

    section.formulario {
        background-image: none;
    }    
}

@media (max-width: 350px) {
    header {
        margin-top: 34px;
    }

    header p {        
        font-size: 14px;
        margin-bottom: 24px;
    }

    section.formulario {
        width: 22rem;
    }

    section.formulario .mb-3 {
        width: 22rem;
        margin-bottom: 18px!important;
    }
   
    section.formulario .mb-3 p {
        margin-bottom: 18px;
    }

    section.formulario button {
        width: 18rem;
        font-size: 18px;
    }
}