* {
    font-family: 'Montserrat';
}

body {
    background-color: #E0E0E0!important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100vw;
    margin-bottom: 24px;
    border-radius: 0px 0px 64px 64px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)
}

header img {
    margin: 40px 0 10px;
    width: 290px;    
}

header p {
    width: 332px;
    font-weight: 600;
    font-size: 24px;
    line-height: 41.73px;
    text-align: center;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-feature-settings: 'liga' off;
    color: #FE4400;
    margin-bottom: 24px;
}

.card-agendamento {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-color: #fff;
    width: 650px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}

.card-agendamento p {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #4A4A4A;   
}

.card-agendamento p span{
    color: #FE4400;
}

.card-agendamento p.bem-vindo {
    margin: 24px auto 16px;
}

.card-agendamento p.seus-agendamentos {
    margin-bottom: 24px;
}

.elemento-saudacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 32px
}

ul {
    list-style-type: none;
    padding: 0 32px;
}

ul li .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 586px;
    border: 1.5px solid #36357E;
    border-radius: 12px;
    margin-bottom: 24px;
}

ul li .card img{
    width: 80px;
    height: 80px;
    margin: 0 8px 0 16px;
}

ul li .card .agendamento-info{    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

ul li .card .agendamento-info p {
    color: #36357E;
    margin: 0;
}

ul li .deletarBtn {
    position: absolute;
    right: 0em;
    top: 0em;
    background-image: url(/img/lixeira.png);
    background-size: cover;
    background-color: #fff;
    width: 24px;
    height: 24px;
    margin: 6px 6px 0 0;
    border: none;
}

body #agendarBtn {
    font-weight: 600;
    font-size: 26px;
    width: 340px;
    height: 58px;
    color: #fff;
    background: #36357E;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

body #agendarBtn:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.70);
}

@media (max-width: 1350px) {
    header {
        margin-bottom: 18px;
    }

    header img {
        width: 128px;
        height: 27px;
        margin: 24px 0 10px;
    }
    
    header p {
        width: 204px;
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 18px;
    }

    .card-agendamento {
        width: 327px;
        margin-bottom: 18px;
    }

    .card-agendamento p {
        font-size: 16px;
    }

    ul {
        padding: 0!important;
        margin: 10px;
    }
    
    ul li .card {       
        width: 307px;        
        border-radius: 12px;
        margin-bottom: 12px;
    }
    
    ul li .card img{
        width: 32px;
        height: 32px;
        margin: 0 8px 0 16px;
    }
    
    ul li .card .agendamento-info{    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    
    ul li .card .agendamento-info p {
        font-size: 14px;
    }
    
    ul li .deletarBtn {
        position: absolute;
        right: 0em;
        top: 0em;
        background-image: url(/img/lixeira.png);
        background-size: cover;
        background-color: #fff;
        width: 16px;
        height: 16px;
        margin: 6px 6px 0 0;
        border: none;
    }

    body #agendarBtn{
        font-weight: 600;
        font-size: 18px;
        width: 241px;
        height: 40px;}
}

@media (max-width: 350px) {
    header {
        width: 100vw;;
    }

    header p {        
        font-size: 14px;
        margin-bottom: 24px;
    }

    .card-agendamento {
        width: 16rem;       
    }    

    .card-agendamento #agendarBtn {
        width: 18rem;
        font-size: 18px;
    }
}