* {
    font-family: 'Montserrat';
    font-size: 12px;
}

form .input-group-text {
    background-color: #F2F2F2;
    border: 1px solid #BDBDBD;
    border-radius: 0 8px 8px 0;
    height: 48px;
}

form .input-group-text a {
    color: #828282;
}

@media (max-width: 750px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 64px;
    }
    
    header img {
        width: 187px;
        height: 41px;
        margin-bottom: 8px;
    }
    
    header p {
        color: #FE4400;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.1em;
        font-variant: small-caps;
        font-feature-settings: 'liga' off;
        margin-bottom: 48px;
    }
    
    section .introducao {
        display: none;
    }

    section .formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 327px;
    }
    
    section .formulario .mb-3 {
        width: 327px;
    }
    
    section .formulario .form-label {
        color: #4A4A4A;
        margin-bottom: 3px;
        font-weight: 600;
    }
    
    section .formulario .form-control {
        color: #828282;
        border: 1px solid #BDBDBD;
        border-radius: 8px;
        margin-bottom: 24px;
        height: 48px;
    }
    
    section .formulario #senha {
        margin-bottom: 3px;
    }
    
    section .mb-3 p {
        color: #828282;
        font-weight: 600;
        margin-bottom: 24px;
    }
    
    section .formulario button {
        color: #fff;
        background-color: #FE4400;
        width: 271px;
        height: 40px;
        border-radius: 8px;
        border: none;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
        font-size: 22px;
        font-weight: 600;
    }
    
    section .formulario button:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.70);
    }
}

@media (max-width: 350px) {
    header {
        margin-top: 34px;
    }

    header p {        
        font-size: 14px;
        margin-bottom: 24px;
    }

    section .formulario {
        width: 23rem;
    }

    section .formulario .mb-3 {
        width: 100%;
    }

    section .formulario .form-control {
        margin-bottom: 18px;        
    }

    section .formulario .mb-3 p {
        margin-bottom: 18px;
    }

    section .formulario button {
        width: 18rem;
        font-size: 18px;
    }
}